[submodule "libs/engine-libs"]
	path = libs/engine-libs
	url = https://github.com/KiritoAM/engine-libs.git
[submodule "engine-libs"]
	path = engine-libs
	url = https://github.com/KiritoAM/engine-libs.git
